@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
* {
    margin: 0;
    padding: 0;
    border: 0;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Slabo 27px', serif;
}

.container {
    margin: 0 auto;
    text-align: center;
    background-color: #6a89cc;
    padding-bottom: 30px;
}

header {
    background-color: #f6b93b;
    padding: 20px;
    h1 {
        color: #34495e;
    }
}

.button {
    display: inline-block;
    padding: 15px;
    
    img {
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: 0.3s ease-in-out;
        }
    }
}

.game {
    border: 3px solid white;
    color: white;
    width: 400px;
    margin: 20px auto;
    font-size: 36px;
    padding: 20px;
    position: relative;
    .score .box{
        background-color: #eb2f06;
        padding: 5px;
        border-radius: 4px;
        color: #34495e;
        font-size: 24px;
    }
    #playerOne {
        position: absolute;
        left: 110px;
    }
    #playerTwo {
        position: absolute;
        right: 106px;
    }
}